/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
*/

* {
    background:     #1E1E2EFF;
    background-alt: #313244FF;
    foreground:     #CDD6F4FF;
    selected:       #A6E3A1FF;
    active:         #CBA6F7FF;
    urgent:         #F38BA8FF;
}
