@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces{
    background-color: shade(@base, 0.9);
    margin-right: 10px;
    border-radius: 0px 15px 15px 0px;
    outline: 0px;
}

#workspaces button {
    box-shadow: inherit;
    text-shadow: inherit;
    color: @text;
}

#workspaces button:hover {
    color: @green;
}

#workspaces button:last-child {
    padding-right: 15px;
    border-radius: 5px 15px 15px 5px;
}

#workspaces button.active {
    color: @green;
    padding-bottom: 2px;
    border-bottom: 2px solid @green;
}

#workspaces button.urgent{
    background-color: @red;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#taskbar,
#custom-launcher,
#idle_inhibitor {
    padding:0 4px;
    margin:0;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#idle_inhibitor {
    font-size: 14px;
    background-color: shade(@base, 0.9);
    border-radius: 0px 15px 15px 0px;
    padding-right: 15px;
    padding-left: 10px;
    color: @text
}

#idle_inhibitor.activated {
    background-color: shade(@sapphire, 0.6);
}

#clock {
    background-color: shade(@base, 0.9);
    margin-left: 10px;
    border-radius: 15px 0 0 15px;
    padding-left: 15px;
    color: @sapphire;
}

label:focus {
    background-color: shade(@base, 0.9);
    outline: 0px;
}

#pulseaudio {
    border-radius: 15px 0px 0px 15px;
    background-color: shade(@base, 0.9);
    padding-left: 15px;
    color: @maroon;
}

#pulseaudio.muted {
    background-color: @base;
}

#cpu {
    background-color: shade(@base, 0.9);
}

#memory {
    background-color: shade(@base, 0.9);
    color: @blue;
}

#disk {
    background-color: shade(@base, 0.9);
}

#temperature {
    background-color: shade(@base, 0.9);
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
    padding-right: 15px;
    color: @mauve;
}

#temperature.critical {
    background-color: @red;
}

#tray {
    background-color: shade(@base, 0.9);
    border-radius: 0 15px 15px 0;
    padding:0 15px 0 0;
    -gtk-icon-theme: 'Papirus-Dark';
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray > .needs-attention > image{
    padding: 2px 0;
    background-color: shade(@red, 0.9);
    border-radius: 15px;
}

#custom-launcher {
    background-color: shade(@base, 0.9);
    font-size: 23px;
    border-radius: 15px 0px 0px 15px;
    padding-left: 15px;
    color: @green;
}

#taskbar {
    background-color: shade(@base, 0.9);
    border-radius: 15px;
    padding: 0;
}

#taskbar button{
    text-shadow: inherit;
    box-shadow: inherit;
}

#taskbar button:hover {
    background-color: @mauve;
}

#taskbar button:last-child{
    border-radius: 5px 15px 15px 5px;
    padding-right: 15px;
}

#taskbar button:first-child{
    border-radius: 15px 5px 5px 15px;
    padding-left: 15px;
}

#taskbar button:only-child{
    border-radius: 15px;
    padding: 0 15px;
}

tooltip {
    background: @surface1;
    border: 1px @surface1 solid;
}

tooltip label {
    color: @text;
}

#custom-wallpaper {
    font-size: 20px;
    background-image: radial-gradient(shade(@base, 0.9) 30%, @mauve 40%);
    border-radius: 15px;
    padding: 0 12px;
    margin-right: 10px;
    color: @text;
}

#custom-notification {
    background-color: shade(@base, 0.9);
    border-radius: 15px 0 0 15px;
    padding: 0 10px 0 15px;
    font-size: 14px
}