* {
  all: unset;
  font-size: 12px;
  font-family: Monospace;
  transition: 200ms;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 12.6px;
  margin: 8px 10px;
  background-color: #181825;
  color: #cdd6f4;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification.low {
  background-color: #1e1e2e;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: #45475a;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #585b70;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #f5c2e7;
}

.control-center {
  border-radius: 12.6px;
  background-color: #181825;
  color: #cdd6f4;
  padding: 14px;
}

.control-center .widget-title {
  color: #cdd6f4;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: #45475a;
}

.control-center .widget-title button:active {
  background-color: #585b70;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.low {
  background-color: #1e1e2e;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #6c7086;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: #7f849c;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #9399b2;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #1e1e2e;
  background-color: #f38ba8;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #f5c2e7;
}

.control-center .notification-row .notification-background:hover {
  background-color: #7f849c;
  color: #cdd6f4;
}

.control-center .notification-row .notification-background:active {
  background-color: #74c7ec;
  color: #cdd6f4;
}

.summary, .time {
    font-weight: bold;
    font-size: medium;
}

progressbar, progress, trough {
  border-radius: 12.6px;
}

progressbar {
  box-shadow: inset 0 0 0 1px #45475a;
}

.notification.critical progress {
  background-color: #f38ba8;
}

.notification.low progress,
.notification.normal progress {
  background-color: #89b4fa;
}

trough {
  background-color: #313244;
}

.control-center trough {
  background-color: #45475a;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.control-center-dnd {
  margin-top: 5px;
  font-size: initial;
  border-radius: 8px;
  background: #313244;
}

.control-center-dnd:checked {
  background: #313244;
}

.control-center-dnd slider {
  background: #45475a;
  border-radius: 8px;
  min-height: 24px;
  min-width: 24px;
}
.control-center-dnd slider:hover {
    background-color: #585b70;
}

/* Mpris widget */
.widget-mpris {
  margin: 0px;
}

.widget-mpris button {
  border-radius: 12.6px;
  color: #cdd6f4;
  background-color: #313244;
  margin: 5px;
  padding: 4px 5px;
}

.widget-mpris button:hover {
  background-color: #45475a;
}

.widget-mpris button:active {
  background-color: #585b70;
}

.widget-mpris-player {
  padding: 8px;
  margin: 5px;
  background-color: #313244;
  border-radius: 12.6px;
  color: #cdd6f4;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}
